.form_volunteer{
    width: 100%;
    box-sizing: border-box;
    margin-top: 40px;
}
.form_volunteer>div{
    display: flex;
    width: 35%;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 5px;
}

.form_volunteer>div>input{
    width: 100%;
    padding: 4px;
    height: 20px;
    margin: auto;
}
.form_volunteer>div>span{
    color: red;
    margin-top: -4px;
}
.set_register_btn{
    padding: 4px 8px;
    background-color: white;  
    transition:ease-out;
    transition-duration: 1s;

}
.set_register_btn:hover{
    background-color:#0ec0e2 ;
    transition: ease-in-out;
    transition-duration: 200ms;
}
.add_btn_set{
    padding: 5px;
    border: none;
    background-color: #0ec0e2;
    color: white;
    margin-left: 5px;
    border-radius: 5px;
}
.set_added_data{
    display: flex;
    /* width: 10%; */
    height: 20px;
    margin-left: 5px;
    font-size: 13px;
    text-transform: uppercase;
    padding: 6px;
    border: none;
    background-color: #0ec0e2;
    color: white;
    margin-left: 5px;
    border-radius: 7px;
    text-align: center;
}
.set_added_data>span{
    margin-left: 6px;
    cursor: pointer;
}
